<!DOCTYPE html>
<html>
  <head>
    <title>RecoGenie - Scorecard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../styles/reset.css" rel="stylesheet" media="screen">
    <link href="../styles/styles.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
		<header id="globalHeader"> </header>

		<div id="main">
			<div class="top-box">
				<div class="profile">
					<img class="profile-pic" src="../images/profile.jpg">
					<div class="info">
						<h2>Amanda Andonian ${name}</h2>
						<h3>Writer, Designer, Developer</h3>
						<h4>San Francisco, California | Internet</h4>
					</div>
				</div>

				<div class="profile">
					<img class="profile-pic clearfix" src="../images/profile2.jpg">
					<div class="info">
						<h2>Robert Faulk ${name}</h2>
						<h3>Software Developer</h3>
						<h4>San Francisco, California | Internet</h4>
					</div>
				</div>

				<div class="relationship-score">
					<h2>Relationship Score: ${score}</h2>

					<div class="meterbar">
						<div class="meterbar-fill">
						</div>
					</div>

					<button class="submit score" type="submit" href="#">Connect with Candidate</button>
					<button class="cancel" type="cancel">Ignore</button>
				</div>

			</div>

			<div class="criteria">
				<table class="table table-striped details">
					<h2>Criteria</h2>
					<tr>
						<td><b>Criteria</b></td>
						<td><b>Detail</b></td>
					</tr>
					<tr>
						<td>Industry</td>
						<td>Internet</td>
					</tr>
					<tr>
						<td>Education</td>
						<td>San Francisco State University</td>
					</tr>
					<tr>
						<td>Company</td>
						<td>Ebay</td>
					</tr>
					<tr>
						<td>Jobs</td>
						<td>Software Engineer</td>
					</tr>
				</table>
			</div>
		</div>

		</div>
		<!-- /#main -->

    </div><!-- /#wrapper -->
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/main.js"></script>
  </body>
</html>